//- Quote modern
	@param {object} data - data object
	@param {string} data.text - quote text
	@param {string} data.img - quote img
	@param {string} data.name - name of author
	@param {string} data.company - company of author
mixin quote-modern( data )
	// Quote modern
	article.quote.quote-modern
		.media.media-xs.flex-column.flex-xs-row-reverse
			.media-left
				.quote-author-figure
					.quote-author-image-decor
					//svg(width='102', height='102', viewBox='0 0 102 102', fill='none')
						g(filter='url(#filter0_d2)')
							path(d='M69.0443 87.8158C63.2442 90.6586 56.8544 92.0907 50.3958 91.9955C43.9371 91.9004 37.5923 90.2805 31.8785 87.268C26.1646 84.2555 21.2434 79.9356 17.5158 74.6603C13.7883 69.3851 11.3598 63.3037 10.4285 56.9118C9.49707 50.52 10.0891 43.9985 12.1563 37.8789C14.2234 31.7592 17.7073 26.2146 22.3238 21.6968C26.9404 17.179 32.5591 13.8159 38.722 11.8816C44.885 9.94723 51.4177 9.4964 57.7879 10.5658', stroke='#78C5D6', stroke-width='4', stroke-linecap='round', stroke-linejoin='round')
						defs
							filter#filter0_d2(x='2', y='4', width='75.0448', height='98', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
								feflood(flood-opacity='0', result='BackgroundImageFix')
								fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
								feoffset(dy='2')
								fegaussianblur(stdDeviation='3')
								fecolormatrix(type='matrix', values='0 0 0 0 0.350625 0 0 0 0 0.760113 0 0 0 0 0.85 0 0 0 0.2 0')
								feblend(mode='normal', in2='BackgroundImageFix', result='effect1_dropShadow')
								feblend(mode='normal', in='SourceGraphic', in2='effect1_dropShadow', result='shape')

					+img( data.img ).quote-author-image.rounded-circle
			.media-body
				.quote-author-name.h5= data.name
				.quote-text= data.text
				.quote-author-company= data.company


//- Quote classic
	@param {object} data - data object
	@param {string} data.text - quote text
	@param {string} data.img - quote img
	@param {string} data.name - name of author
	@param {string} data.company - company of author
mixin quote-classic( data )
	// Quote classic
	article.quote.quote-classic
		.media.media-md.flex-column.flex-xs-row-reverse
			.media-left
				+img( data.img ).quote-author-image.rounded-circle
			.media-body
				.quote-title.h5= data.title
				.quote-text= data.text
				.quote-details
					span.quote-author-name= data.name + ', '
					span.quote-author-company= data.company


//- Quote creative
	@param {object} data - data object
	@param {string} data.name - name of author
	@param {object} data.time - quote time
	@param {string} data.time.date - quote time datetime
	@param {string} data.time.text - quote time text
	@param {string} data.text - quote text
	@param {string} data.company - company of author
mixin quote-creative( data )
	// Quote creative
	article.quote.quote-creative
		.quote-body
			.quote-author-name.h4= data.name
			.quote-time.bigger
				time( datetime= data.time.date )= data.time.text
			.quote-text.bigger= data.text
			.quote-author-company= data.company